@import "tailwindcss/base";

@import "tailwindcss/components";

@import "fonts.css";

@import "tailwindcss/utilities";

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:target {
	scroll-snap-margin-top: 6rem;
}

:target {
	scroll-margin-top: 6rem;
}

[id] {
	scroll-snap-margin-top: 6rem;
}

[id] {
	scroll-margin-top: 6rem;
}

html {
	@apply relative;
	@apply min-h-full;
}

body {
	@apply bg-backgroundBlue;
	@apply text-text;
	@apply font-Kanit;
	@apply overflow-x-hidden;
	@apply h-full;
	@apply min-h-full;
	@apply m-0;
	margin-bottom: 272px;
}

@media (min-width: 768px) {
	body {
		margin-bottom: 112px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-Kanit;
}

h1 {
	@apply font-black;
}

h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}

.fullWidthCenter {
	width: 100vw;
	/* height: 100%; */
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	object-fit: cover;
}

.animatedButton,
.animatedButton div {
	@apply duration-100;
	@apply ease-linear;
	@apply transition-all;
}

.animatedButton:hover {
	@apply p-0;
}

.animatedButton:hover div {
	@apply p-5;
}
