@import "tailwindcss/base";

@import "tailwindcss/components";

@import "fonts.css";

@import "tailwindcss/utilities";

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:target {
	scroll-snap-margin-top: 6rem;
}

:target {
	scroll-margin-top: 6rem;
}

[id] {
	scroll-snap-margin-top: 6rem;
}

[id] {
	scroll-margin-top: 6rem;
}

body {
	@apply bg-backgroundBlue;
	@apply text-text;
	@apply font-FuturaBT;
	@apply relative;
	@apply overflow-x-hidden;
}

h1 {
	@apply font-Boldstrom;
}

.fullWidthCenter {
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	object-fit: cover;
}
